
<body>
    <div id="body">
        <p>Food Shop</p>
        <a [routerLink]="''"><button type="button" name="order" id="order">ORDER NOW</button></a>
    </div>

    <div id="footer">
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
    </div>
</body>
<router-outlet></router-outlet>

