<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AboutUS</title>
</head>
<body>
  <div class="abcontain">
    <div class="aboutus">
        <h1>Why us?</h1>
        <p>With 5 years of experience in the Food industry, we always guarantee the quality and safety of each type of food we bring to our customers.With the goal and criteria of always prioritizing our customers' safety. We are constantly improving and introducing new food tunes to the online market.</p><br>
    </div>
    <div class="rox">
        <div class="column1">
            <div class="img1">
                <img src="../../assets/images/tai.jpg" alt="tai">
            </div>
            <div class="card">
                <div class="containerab">
                    <h2 id="name">Nguyen Huu Tai</h2>
                    <p>CEO & Founder</p>
                    <p>nguyenhuutai140298@gmail.com</p>
                    <a (click)="contact()" class="ButtonContact">Contact</a>
                </div>
            </div>
        </div>
   
        <div class="column2">
            <div class="img2">
                <img src="../../assets/images/thinh.jpg" alt="thinh">
            </div>
            <div class="card">
                <div class="containerab">
                    <h2 id="name">Nguyen Truong Anh Thinh</h2>
                    <p>Director</p>
                    <p>toumachikaido1@gmail.com</p>
                    <a (click)="contact()" class="ButtonContact">Contact</a>
                </div>
            </div>
        </div>
        <div class="column3">
            <div class="img3">
                <img src="../../assets/images/hiep.jpg" alt="hiep">
            </div>
            <div class="card">
                <div class="containerab">
                    <h2 id="name">Hiep</h2>
                    <p>Shareholder</p>
                    <p>example@gmail.com</p>
                    <a (click)="contact()" class="ButtonContact">Contact</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
</body>
