<div class="card">
  <div class="card-header">
    <h3>Update Menu</h3>
  </div>
  <div class="card-body">
      <div class="container">
          <h1>Update Menu Form</h1>
          <form #updateMenuForm="ngForm" novalidate (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label>Menu Name</label>
                  <input type="text" class="form-control" 
                          [class.is-invalid]="name.touched && name.invalid && (!updateMenuForm.submitted)" 
                          name="name" #name="ngModel" 
                          required [(ngModel)]="menu.menu_name">
                          <small class="text-danger" [class.d-none]="name.untouched || name.valid || updateMenuForm.submitted">
                            Menu name is required
                          </small>
              </div>
              <div class="form-group">
                <label>Menu Description</label>
                <input type="text" class="form-control" 
                        [class.is-invalid]="description.touched && description.invalid && (!updateMenuForm.submitted)" 
                        name="description" #description="ngModel" 
                        required [(ngModel)]="menu.description">
                        <small class="text-danger" [class.d-none]="description.untouched || description.valid || updateMenuForm.submitted">
                          Menu description is required
                        </small>
              </div>

              <div class="form-group">
                <label>Select Menu image from device</label>
                <input type="file" accept="image/*" (change)="onSelectFile($event)">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
              </div>
      
             
      
              <button [disabled]="updateMenuForm.invalid" class="btn btn-primary" type="submit">Update</button>
      
      
          </form>
      </div>
  
  
  </div>
</div>
<router-outlet></router-outlet>

