body{
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#bodypro{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 120px;
}
.container{
    display: flex;
    width: auto;
    height: auto;
}
.box{
    margin-top: 120px;
    padding-top: 60px;
    flex: 20%;
    display: table;
    align-items: center;
    text-align: center;
    padding: 30px 70px;
    font-size: 20px;
    background-color: white;
    background: rgba(255,255,255,0.5);
    color: black;
    border-radius: 10px;
    margin-left: 150px;
    
}

.box img{
    border-radius: 50%;
    border: 2px solid black;
    height: 250px;
    width: 250px;
}

.box ul{
    margin-top: 30px;
    font-size: 23px;
    text-align: center;
}
.box ul li{
    list-style: none;
    margin-top: 50px;
    font-weight: 100;
    margin-right: 45px;
}

.About{
    margin-top: 120px;
    flex: 50%;
    display: table;
    padding: 30px 100px;
    font-size: 20px;
    background-color: white;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    color: black;
}

.About h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 500;
}

.About ul li{
    list-style: none;
}

.About ul{
    margin-top: 20px;
}

#butback{
    display: flex;
    flex-direction: row-reverse;
    border-color: black;
    margin-left: 80px;
    width: 130px;
    
}