body{
    background-image: url("../../assets/images/background.jpg");
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 87.3%;
}

#body p{
    color: white;
    font-size: 90px;
    font-weight: bold;
    padding-top: 120px;
    padding-left: 610px;
    font-family: 'Comforter', cursive;
}
#order{
    margin-left: 710px;
    margin-top: -70px;
    padding: 10px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(30deg, white 50%, transparent 50%);
    background-image: linear-gradient(30deg, white 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    
    
}
#order:hover{
    background-position: 0%;
    color: black;
    
}
#body p{
    float: left;
    color: white;
    padding-left: 630px;
}
#body a i{
    color: white;
    padding-top: 17px;
    padding-left: 15px;
}

#footer{
    float: right;
    padding-right: 640px;
    padding-top: 260px;
}

#footer a i{
    color: white;
    padding-top: 17px;
    padding-left: 15px;
}

