<div class="card">
    <div class="card-body">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Account Name</th>
            <th scope="col">Role</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userss">
            <th scope="row">{{user.login_id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td><a class="btn btn-danger"(click)="deleteAcc()">Delete</a></td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>